.floatHeader{
background-color: white;
}
.headCol{
width:35px;
}
#positionLegend { 
        width:1px;
        height:50%;
        background-color:#fc6;
        position:absolute;
        margin-bottom:-13.75em; /* half of container's height */
        float:left;
        }
.pbSubheader{
background-color: #565959;
}
#comment{
height:auto;
}
.tabCol {width:30px;}
.orange {background-color: #c64c01! important; }
.blue {background-color: #7fb9df! important; }
.brown {background-color: #a77443! important; }
.tan {background-color: #dbc092! important; }
.green {background-color: #a9c100! important; }
.pink {background-color: #d4a8d4! important; }
.white {background-color: #fff! important; color:black}


 .pbBody td {
color:black;
border: medium 1px;
}
#group {
font-family:Verdana,Geneva,sans-serif;
font-size:12px;
margin:10px auto 0;
width:100%;
display:table;
}
#group .odd {
background-color: #F0F0F6;
}
#group .even {
background-color: white;
}
#group .header  {
background-color: #E3F3FF;
color:black;
}
#group .clicked {
background-color: #ccc;
}

#group .columnHL{
background-color: #ccc;
}
#group a  {
color:black;
}

#group .leftTable {
position:absolute;
width:200px;
border:0px solid black;
}

#group .leftTable tr {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
height:30px;
}
#group .mainTable tr {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
height:30px;
}
#group .rightTable tr {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
height:30px;
}
#group .mainTable td  {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
#group .mainTable th  {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
text-align: center;
}

#group .rightTable td {
border-top:0px solid black;
border-left:0px solid black;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
#group .leftTable{
border-left:1px solid black;
border-bottom:1px solid black;
}
#group .leftTable td {
border-top:0px solid black;
border-left:0px solid black;
border-right: 3px solid black;
border-bottom: 1px solid #ccc;
}
#group .leftTable th {
border-top:0px solid black;
border-left:0px solid black;
border-right: 3px solid black;
border-bottom: 1px solid black;
}

.studCol {
    white-space: nowrap;
    width: 150px;
}

table {
    border-spacing: 0;
    text-indent: 0;
}

#group .mainDiv {
float:left;
height:auto;
position:relative;
}
#group  .leftDiv {
float:left;
height:auto;
width:200px;
position:relative;
}
#group  .rightDiv {
float:left;
height:auto;
width:150px;
border-left:1px solid #999;
position:absolute;
}

th{
height:20px;
}
td{
height:20px;
}

.mainDiv {
overflow-x:auto;
overflow-y:hidden;
position:relative;
}

#group .rightTable {
width:1px;
}

.fixedTable {
position:relative;
}
.fixedTable table {
font-family:Verdana,Geneva,sans-serif;
font-size:12px;
float:left;
}


.cluetip-default {
font-family:verdana;
color:#fff;
  background-color: #d9d9c2;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  padding:3px;
  background-color: #333;
  border-radius:4px;
  -moz-border-radius:4px;
  border:1px solid #999;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 5px;
  padding: 8px 10px 4px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #fff;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #fff;
}

