/* Motif for Hybrid Skin */
body.Custom92Tab {
    margin:0 10px; background: #FFFFFF url('https://na7.salesforce.com/resource/1302210312000/sky') no-repeat;
}

body.homeTab {
    margin:0 10px; background: #FFFFFF url('https://na7.salesforce.com/resource/1302210312000/sky') no-repeat;
}

body.reportTab {
    margin:0 10px; background: #FFFFFF url('https://na7.salesforce.com/resource/1302210312000/sky') no-repeat;
}

body.contactTab {
    margin:0 10px; background: #FFFFFF url('https://na7.salesforce.com/resource/1302210312000/sky') no-repeat !important;
}

body.accountTab {
    margin:0 10px; background: #FFFFFF url('https://na7.salesforce.com/resource/1302210312000/sky') no-repeat !important;
}

.accountTab .tabNavigation .tab .currentTab, .accountTab #motifCurve, .accountTab #motifCurve #mc_l, .accountTab #motifCurve #mc_r {
background-color: #565959 !important;
}

.accountTab .tabNavigation .tab .currentTab,
.accountTab #motifCurve,
.accountTab #motifCurve #mc_l,
.accountTab #motifCurve #mc_r{
    background-color: #565959;
}
.accountTab  .primaryPalette,
.individualPalette .accountBlock .primaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.accountTab  .secondaryPalette,
.individualPalette .accountBlock .secondaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.accountTab  .tertiaryPalette,
.individualPalette .accountBlock .tertiaryPalette,
.layoutEdit .individualPalette .accountBlock .tertiaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.homeTab .primaryPalette, .individualPalette .homeBlock .primaryPalette {
background-color: #565959;
border-color: #565959;
}

.Custom92Tab .tabNavigation .tab .currentTab,
.Custom92Tab #motifCurve,
.Custom92Tab #motifCurve #mc_l,
.Custom92Tab #motifCurve #mc_r{
    background-color: #565959;
}
.Custom92Tab  .primaryPalette,
.individualPalette .Custom92Block .primaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.Custom92Tab  .secondaryPalette,
.individualPalette .Custom92Block .secondaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.Custom92Tab  .tertiaryPalette,
.individualPalette .Custom92Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom92Block .tertiaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom92Tab .listViewport .topNav .linkBar,
.Custom92Tab .mComponent .cHeader,
.Custom92Tab .genericTable,
.Custom92Tab .bSubBlock,
.Custom92Tab .bPageBlock{
    border-top: 3px solid #EAEAEA;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom92Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom92Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom92Block .secondaryPalette .pbHeader{
    border-color: #FFFFFF;
}



.Custom92Mru .mruIcon { background-image: url(/img/icon/custom51_100/ship16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.Custom92Tab .pageTitleIcon, .individualPalette .Custom92Block .pageTitleIcon { background-image: url(//img/icon/custom51_100/ship32.png);
	background-position: 0px 0px;width:0px;
	height:32px; }



.bRelatedList .Custom92Block .relatedListIcon, .allTabTab .Custom92Block .relatedListIcon { background-image: url(//img/icon/custom51_100/ship24.png);
	background-position: 0px 0px;width:0px;
	height:24px; }

.bRelatedList .Custom92Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom92Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}

body .bPageTitle .pageTitleIcon { background-image: url(//img/icon/custom51_100/ship32.png) !important;
	background-position: 0px 0px;width:0px;
	height:32px; }
	
	

.homeTab .tabNavigation .tab .currentTab, .homeTab #motifCurve, .homeTab #motifCurve #mc_l, .homeTab #motifCurve #mc_r {
background-color: #565959;
}

body .tabNavigation .tab .currentTab {
background-image: url('/img/alohaSkin/tabs_sprite.png');
background-repeat: no-repeat;
background-position: left 0;
}

.homeTab .primaryPalette, .individualPalette .homeBlock .primaryPalette {
border-color: #565959;
}

.homeTab .listViewport .topNav .linkBar, .homeTab .mComponent .cHeader, .homeTab .genericTable, .homeTab .bSubBlock, .homeTab .bPageBlock {
border-top: 3px solid #EAEAEA;
}
/***
body.sfdcBody {
background: #FFFFFF url('/img/alohaSkin/gradient_body.png') repeat-x;
background-image: url(https://na7.salesforce.com/img/alohaSkin/gradient_body.png);
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #FFFFFF;
} ***/

.menuButtonOver #helpNavLabel, .menuButtonOver #userNavLabel, .menuButtonOver #tsidLabel, .menuButtonActivated #helpNavLabel, .menuButtonActivated #userNavLabel, .menuButtonActivated #tsidLabel, .phHeaderCustomLogo .menuButtonActivated #helpNavLabel, .phHeaderCustomLogo .menuButtonActivated #userNavLabel, .phHeaderCustomLogo .menuButtonActivated #tsidLabel { background:#565959; }

body.accountTab {
    margin:0 10px;
}

.accountTab .tabNavigation .tab .currentTab,
.accountTab #motifCurve,
.accountTab #motifCurve #mc_l,
.accountTab #motifCurve #mc_r{
    background-color: #565959;
}
.accountTab  .primaryPalette,
.individualPalette .accountBlock .primaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.accountTab  .secondaryPalette,
.individualPalette .accountBlock .secondaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.accountTab  .tertiaryPalette,
.individualPalette .accountBlock .tertiaryPalette,
.layoutEdit .individualPalette .accountBlock .tertiaryPalette {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.phHeaderCustomLogo #helpNavLabel, .phHeaderCustomLogo #userNavLabel {
color: #FFFFFF;
}
